.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 40rem;
  margin-bottom: 10rem;

  &__text {
    font-size: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }

  &__paragraph {
    margin-bottom: 2rem;
    line-height: 2.5rem;
  }
}
