//Style variables
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-medium: 0 2rem 5rem rgba(0, 0, 0, 0.15);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

$color-primary: rgb(115, 83, 255);
$color-primary-dark: rgb(100, 72, 224);

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-light-3: rgb(201, 199, 199);

$color-grey-dark-1: #2e2e2e; //normal text
$color-grey-dark-2: #4a4a4a; //light text

//RESPONSIVE BREAKPOINTS
$bp-large: 68.8em; //1100px
$bp-medium: 56.3em; //900px
$bp-small: 37.5em; //600px

//Font size variables
$font-size-medium: 2.5rem;
$font-size-small: 1.5rem;
$font-size-large: 7rem;
