.header {
  width: 100%;
  height: 10vh;
  background-color: inherit;
  transition: all 300ms ease-in;
  position: fixed;
  z-index: 2;

  @media only screen and (max-width: $bp-small) {
    box-shadow: $shadow-medium;
  }
}

.sticky {
  height: 8vh;
  top: 0;
  box-shadow: $shadow-medium;
}

.scroll-progress {
  width: 0%;
  height: 2px;
  background-color: $color-primary;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 4rem;

  @media only screen and (max-width: $bp-small) {
    padding: 0 2rem;
  }
}

.personal {
  display: flex;
  align-items: center;
  height: 4rem;

  &__divider {
    width: 1.5px;
    height: inherit;
    background-color: $color-grey-dark-2;
    margin: 0 1rem;
  }
}

.navbar {
  display: flex;

  &__link {
    text-transform: uppercase;
    color: $color-grey-dark-1;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 1rem;
    text-decoration: none;
    position: relative;
    padding-bottom: 0.5rem;

    &--active {
      color: $color-primary;
    }

    &:after {
      position: absolute;
      margin: auto;
      width: 0%;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      background-color: currentColor;
      height: 2px;
      transition: all 0.2s ease-in-out;
    }

    @media (hover: hover) {
      &:hover:after {
        width: 100%;
      }
    }
  }

  @media only screen and (max-width: $bp-medium) {
    display: none;

    &__link {
      font-size: 3rem;
    }

    &__link-wrapper {
      margin: 3rem 0;
    }
  }
}

.navbar-small {
  display: none;

  @media only screen and (max-width: $bp-medium) {
    display: block;
    &:hover {
      cursor: pointer;
    }

    &__icon {
      position: relative;
      z-index: 3;

      &,
      &:before,
      &:after {
        width: 5rem;
        border: none;
        background-color: black;
        content: "";
        display: block;
        height: 0.5rem;
        border-radius: 1rem;
        margin: 0.75rem 0;
        transition: all 0.2s;
      }

      &:before,
      &:after {
        position: absolute;
      }

      &:before {
        bottom: 100%;
      }

      &:after {
        top: 100%;
      }

      &--active {
        background-color: transparent;
      }

      &--active:before {
        transform: translateY(1rem) rotate(135deg);
      }

      &--active:after {
        transform: translateY(-1.5rem) rotate(-135deg);
      }
    }
  }

  &__menu {
    display: none;

    &--show {
      z-index: 2;
      padding-top: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      position: absolute;
      right: 0%;
      top: 0%;
      height: 30rem;
      width: 100vw;
      height: 100vh;
      box-shadow: $shadow-medium;
    }
  }
}
