.projects {
  display: flex;
  flex-direction: column;

  &__cards {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: minmax(min-content, max-content);
    grid-gap: 4rem;
    margin: 0 auto;
  }

  &__card {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) minmax(
        min-content,
        max-content
      );
    grid-template-columns: 100%;
    position: relative;
    height: 100%;
    box-shadow: $shadow-medium;

    &:hover {
      cursor: pointer;
    }

    &:hover .projects__image {
      filter: none;
      transform: scale(1.1);
    }

    &:hover .projects__expand-icon {
      transform: scale(1.2);
    }
  }

  &__images {
    justify-self: center;
    width: 90%;
    z-index: 1;
    position: relative;
    top: -5%;
    box-shadow: $shadow-medium;
  }

  &__wrapper {
    position: relative;
  }

  &__img-wrapper {
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: auto;
    filter: grayscale(0.5);
    transition: all 0.3s ease;
  }

  &__tab {
    position: absolute;
    color: white;
    font-weight: 700;
    background-color: $color-primary;
    font-size: 1.5rem;
    text-align: center;
    bottom: -2%;
    left: 5%;
    padding: 0.25rem 1rem;
  }

  &__details {
    padding: 0 2rem 2rem 2rem;
    display: grid;
    grid-template-rows: 2fr 3fr 1fr;
    height: 25rem;
  }

  &__title {
    font-size: $font-size-medium;
    font-weight: 700;
    padding: 1rem;
  }

  &__description {
    font-size: $font-size-small;
    padding: 1rem;
  }

  &__expand {
    justify-self: end;
    display: flex;
    align-items: center;

    &-text {
      font-size: 1.75rem;
      color: $color-primary;
      font-weight: 700;
      padding-right: 1rem;
    }

    &-icon {
      width: 2rem;
      height: 2rem;
      transition: all 0.3s ease;
    }
  }

  @media only screen and (max-width: $bp-large) {
    &__cards {
      grid-template-columns: 100%;
      grid-template-rows: minmax(min-content, max-content) minmax(
          min-content,
          max-content
        );
      justify-content: center;
      grid-gap: 8rem;
    }
  }
}
