.projects {
  display: flex;
  flex-direction: column;

  &__cards {
    display: grid;
    grid-template-columns: 50rem 50rem;
    grid-template-rows: 47rem;
    grid-gap: 4rem;
    margin: 0 auto;
  }

  &__card {
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:hover .projects__image {
      filter: none;
      transform: scale(1.1);
    }

    &:hover .projects__expand-icon {
      transform: scale(1.2);
    }
  }

  &__images {
    width: 90%;
    height: auto;
    z-index: 1;
    box-shadow: $shadow-medium;
    position: relative;
    align-self: center;
    position: absolute;
    top: -5%;
  }

  &__img-wrapper {
    height: 100%;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: auto;
    filter: grayscale(0.5);
    transition: all 0.3s ease;
  }

  &__tab {
    position: absolute;
    color: white;
    font-weight: 700;
    background-color: $color-primary;
    font-size: 1.5rem;
    text-align: center;
    top: 95%;
    left: 5%;
    padding: 0.25rem 1rem;
  }

  &__details {
    height: 100%;
    box-shadow: $shadow-medium;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
  }

  &__title {
    font-size: $font-size-medium;
    font-weight: 700;
    padding: 1rem;
  }

  &__description {
    font-size: $font-size-small;
    padding: 1rem;
  }

  &__expand {
    align-self: flex-end;
    display: flex;
    align-items: center;

    &-text {
      font-size: 1.75rem;
      color: $color-primary;
      font-weight: 700;
      padding-right: 1rem;
    }

    &-icon {
      width: 2rem;
      height: 2rem;
      transition: all 0.3s ease;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    &__cards {
      grid-template-columns: 100%;
      grid-template-rows: 47rem 47rem;
      justify-content: center;
    }
  }
}
