.skills {
  display: flex;
  flex-direction: column;
  position: relative;

  &__img {
    width: 10rem;
    position: absolute;
    top: 5%;
    left: 75%;
  }

  &__graphic {
    height: 10rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1fr, 6);
    margin-top: 3rem;
  }

  &__wrapper {
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background: transparent;
    z-index: -100;
  }

  &__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(10px 10px 15px $color-primary);

    &:nth-child(1n) {
      grid-column: 1 / span 1;
    }

    &:nth-child(2n) {
      grid-column: 2 / span 1;
    }

    &:nth-child(3n) {
      grid-column: 3 / span 1;
    }

    &:nth-child(4n) {
      grid-column: 4 / span 1;
    }

    &:nth-child(5n) {
      grid-column: 5 / span 1;
    }

    &:nth-child(6n) {
      grid-column: 6 / span 1;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 45rem;
    grid-gap: 1rem;
    align-items: stretch;
    justify-content: stretch;
  }

  &__card {
    text-align: center;
    box-shadow: $shadow-medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  &__image {
    fill: $color-primary;
    width: 5rem;
    height: 5rem;
    flex-grow: 1;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 700;
    flex-grow: 1;
  }

  &__description {
    font-size: $font-size-small;
    flex-grow: 1;
  }

  &__keyskills {
    font-size: $font-size-small;
    flex-grow: 1;
  }

  @media only screen and (max-width: $bp-medium) {
    &__cards {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 45rem 45rem;
    }

    &__card {
      &:nth-child(3n) {
        grid-column: 1 / span 2;
        width: 50%;
        justify-self: center;
      }
    }
  }

  @media only screen and (max-width: $bp-small) {
    &__cards {
      grid-template-columns: 100%;
      grid-template-rows: 45rem 45rem 45rem;
      grid-gap: 2rem;
      justify-content: center;
    }

    &__card {
      &:nth-child(3n) {
        grid-column: 1 / span 1;
        width: 100%;
      }
    }
  }
}
